{% extends 'baseinventario.html' %}
{% block content %}
{% if request.user.is_staff%}
<div class="container text-center mt-4 " style="font-family: 'Handlee', cursive;">
    <div class="row">
        <div class="col">
            <a href="{% url 'agregar_cantidadxrestauracion' %}" class="btn btn-success ">Agregar cantidad necesaria por restauración <i class="bi bi-plus-square-fill me-1"></i></a>
        </div>
    </div>
</div>
{%endif%}
<div class="container-fluid custom-width bg-secondary text-light p-4 mt-4">
    <form method="POST" action="{% url 'dato_disponible' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label><i class="bi bi-funnel me-1"></i> Filtrar por disponibilidad:</label>
                <select class="form-select" name="disponible" required>
                    <option value="">Selecciona</option>
                    <option value="0">No disponible</option>
                    <option value="1">Disponible</option>
                </select>
                <button type="submit" class="btn btn-info mt-2">Buscar <i class="bi bi-search ms-1"></i></button>
                <a href="{% url 'cantidadxrestauracion' %}" class="btn btn-danger mt-2 ms-2">Cancelar<i class="bi bi-x-octagon ms-1"></i></a>
            </div>
        </div>

    </form>
</div>
{% if cantidad %}
<div class="container mt-4">
    <div class="table-resposive">
        <table class="table table-sm table-bordered table-striped table-hover caption-top">
            <caption>Lista de activos de TI registrados en el sistema</caption>
            <thead class="table-primary">
                <tr>
                    <th>Elemento</th>
                    <th>Cantidad necesaria por restauración</th>
                    <th>¿Disponible?</th>
                    <th>¿Cuantas reparaciones se pueden realizar?</th>
                    {% if request.user.is_staff%}
                    <th>Editar</th>
                    <th>Eliminar</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="table-secondary">
                {% for cant in cantidad%}
                <tr>
                    <td>{{cant.material.elemento}}</td>
                    <td>{{cant.necesario}}</td>
                    {% if cant.disponible %}
                    <td>Disponible</td>
                    {% else %}
                    <td>No disponible</td>
                    {% endif %}
                    <td>{{cant.restauraciones}}</td>
                    {% if request.user.is_staff%}
                    <td class="text-center"><a  href="cantidadxrestauracion/editar/{{cant.id}}"><i class="bi bi-pencil-square"></i></a></td>
                    <td class="text-center"><a href="cantidadxrestauracion/eliminar/{{cant.id}}"><i class="bi bi-trash3 text-danger"></i></a></td>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="text-light">
    <h3>No existen elementos registrados al sistema por favor ingrese alguno</h3>
</div>
{% endif %}


{% endblock %}