{% extends 'baseinventario.html' %}
{% block content %}
{% if request.user.is_staff%}
<div class="container text-center mt-4 " style="font-family: 'Handlee', cursive;">
    <div class="row">
        <div class="col">
            <a href="{% url 'agregarResponsable' %}" class="btn btn-success ">Agregar responsable de inventario <i class="bi bi-person-circle ms-1"></i></a>
        </div>
    </div>
</div>
{% endif %}
<div class="container text-center mt-4 text-light bg-primary">
    {% if personal %}
    <h2><i class="bi bi-key me-1"></i> Responsable a cargo</h2>
    <div class="row">
        <div class="col">
            <p style="font-size: 1.2em;"><strong>Nombre:</strong> {{personal.nombre_responsable}}</p>
        </div>
        <div class="col">
            <p style="font-size: 1.2em;"><strong>Cargo:</strong> {{personal.cargo}}</p>
        </div>
        <div class="col">
            <p style="font-size: 1.2em;"><strong><i class="bi bi-telephone me-1"></i> Contacto:</strong> {{personal.contacto}}</p>
        </div>
    </div>
    {% else %}
    <h2 class="text-light">No hay elementos registrados</h2>
    {% endif %}
</div>

{% if necesario %}
<div class="container mt-4">
    <div class="table-resposive">
        <table class="table table-sm table-bordered table-striped table-hover caption-top">
            <caption>Alerta de sistema, falta de materiales para salidas a campo: </caption>
            <thead class="table-primary">
                <tr>
                    <th>Tipo</th>
                    <th>Elemento</th>
                    <th>Unidad</th>
                </tr>
            </thead>
            <tbody class="table-secondary">
                {% for elemento in necesario%}
                <tr>
                    <td>{{elemento.material.tipo.descripcion}}</td>
                    <td>{{elemento.material.elemento}}</td>
                    <td>{{elemento.material.unidad.descripcion}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="text-light text-center mt-4">
    <h3>No existen alertas de falta de materiales.</h3>
</div>
{% endif %}


{% endblock %}