{% extends 'baseinventario.html' %}
{% block content %}
<div class="container-fluid custom-width bg-secondary text-light p-4 mt-4">
    <form method="post">
        {% csrf_token %}
        <h3 class="text-center">Formulario para Agregar un elemento al inventario: </h3>
        <div class="row">
            <div class="col">
                <label>Tipo:</label>
                <select class="form-select" name="elementotipo" {%if not elementos %}disabled{%endif%} required>
                    <option>Selecciona algún tipo</option>
                    {%for elemento in elementos%}
                    <option value="{{elemento.id}}">{{elemento.descripcion}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="col">
                <label>Nombre del elemento:</label>
                <input type="text" name="elemento" class="form-control" placeholder="Escriba el nombre del elemento">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Cantidad :</label>
                <input type="number" step="any" name="cantidad" class="form-control">
            </div>
            <div class="col">
                <label>Unidad de medida:</label>
                <select class="form-select" name="tipo" {%if not unidades %}disabled{%endif%} required>
                    <option>Selecciona algún tipo de unidad de medida</option>
                    {%for unidad in unidades%}
                    <option value="{{unidad.id}}">{{unidad.descripcion}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label >Marca del elemento: </label>
                <input type="text" name="marca" class="form-control">
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Observaciones:</label>
                    <textarea class="form-control" placeholder="Escriba brevemente algún hallazgo sobre el elemento si lo hay..."
                        id="exampleFormControlTextarea1" rows="3" name="observacion"></textarea>
                </div>
            </div>
        </div>
        
        

        <div class="text-center">
            <a href="{% url 'inventario' %}" class="btn btn-danger mt-4 me-2">Cancelar</a>
            <button class="btn btn-success mt-4" type="submit">Agregar</button>
        </div>

    </form>
</div>

{% if messages %}
<div class="modal fade" id="mensajeModal" tabindex="-1" aria-labelledby="mensajeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-light text-center text-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="mensajeModalLabel">Operación exitosa <i
                        class="bi bi-emoji-laughing-fill text-warning mx-2"></i><i
                        class="bi bi-check-square-fill text-success"></i></h5>
            </div>
            <div class="modal-body">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script>
    // Mostrar el modal automáticamente
    const modal = new bootstrap.Modal(document.getElementById('mensajeModal'));
    modal.show();

    // Redirigir cuando se cierre
    document.getElementById('mensajeModal').addEventListener('hidden.bs.modal', function () {
        window.location.href = "/inventario/inventario";  // Cambia por tu URL deseada
    });
</script>
</div>
</div>
</div>
{% endblock %}