{% extends 'baseinventario.html' %}
{% block content %}
<div class="container text-center mt-4 " style="font-family: 'Handlee', cursive;">
    <div class="row">
        <div class="col-12 col-md-3 mb-3">
            <a href="{% url 'agregar_inventario'%}" class="btn btn-success ">Agregar al inventario</a>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <a href="{% url 'agregar_elemento' %}" class="btn btn-success">Agregar tipo de elemento</a>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <a href="{% url 'agregar_unidad' %}" class="btn btn-success">Agregar tipo de unidad</a>
        </div>
    </div>
</div>

<div class="container-fluid custom-width bg-secondary text-light p-4 mt-4">
    <form method="POST" >
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label>Filtrar por tipo de activo:</label>
                <select class="form-select" name="id" {%if not activos %}disabled{%endif%} required>
                    <option>Selecciona el tipo de activo</option>
                    {%for activo in activos%}
                    <option value="{{activo.id}}">{{activo.descripcion}}</option>
                    {%endfor%}
                </select>
                <button type="submit" class="btn btn-info mt-2">Buscar</button>
                <a href="#" class="btn btn-danger mt-2 ms-2">Cancelar</a>
            </div>
        </div>

    </form>
</div>
{% if elementos %}
<div class="container mt-4">
    <div class="table-resposive">
        <table class="table table-sm table-bordered table-striped table-hover caption-top">
            <caption>Lista de activos de TI registrados en el sistema</caption>
            <thead class="table-primary">
                <tr>
                    <th>Tipo</th>
                    <th>Elemento</th>
                    <th>Cantidad</th>
                    <th>Unidad</th>
                    <th>Marca</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody class="table-secondary">
                {% for elemento in elementos%}
                <tr>
                    <td>{{elemento.tipo.descripcion}}</td>
                    <td>{{elemento.elemento}}</td>
                    <td>{{elemento.cantidad}}</td>
                    <td>{{elemento.unidad.descripcion}}</td>
                    <td>{{elemento.marca}}</td>
                    <td>{{elemento.observaciones}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="text-light">
    <h3>No existen equipos registrados al sistema por favor ingrese alguno</h3>
</div>
{% endif %}


{% endblock %}